---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';

const metadata = {
  title: 'Dossier',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get on TestFlight',
        href: 'https://testflight.apple.com/join/35Jq51Tg',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'Dossier Hero Image' }}
  >
    <Fragment slot="title">
      Manage your relationships with precision, using <span class="text-accent">Dossier</span>!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-accent font-bold">Dossier</span> makes it easy to manage your relationships, ensuring that you have
      the right information at your fingertips.
    </Fragment>
  </Hero>
  <Features
    id="features"
    tagline="Features"
    title="Core Features"
    subtitle=""
    items={[
      {
        title: 'Dossiers',
        description: 'Effortlessly capture key details about the people who matter most to you.',
        icon: 'tabler:address-book',
      },
      {
        title: 'Relationships',
        description: 'Map out and visualise connections to better understand your network.',
        icon: 'tabler:hierarchy',
      },
      {
        title: 'Interactions',
        description: 'Keep a record of every meaningful conversation and moment, ensuring no interaction slips through the cracks.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Notes',
        description: 'Quickly jot down insights about people, all organized within their profile.',
        icon: 'tabler:notes',
      },
      {
        title: 'Organisations',
        description: 'Build detailed profiles for companies, helping you track valuable connections across organisations and industries.',
        icon: 'tabler:building',
      },
      {
        title: 'Roles',
        description: 'Document each person’s journey, from past roles to current positions, so you’re always up-to-date.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Import',
        description: 'Easily import your iPhone contacts, so you can start organiaing and deepening your connections without missing a beat.',
        icon: 'tabler:download',
      },
      {
        title: 'Synchronise',
        description: 'Keep your data safe and always up-to-date across devices with secure iCloud syncing — or choose to keep everything stored locally if you prefer.',
        icon: 'tabler:lock',
      },
    ]}
  />
</Layout>
