---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Dossier',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/hero-image.png', alt: 'Dossier Hero Image' }}
  >
    <Fragment slot="title">
      Manage your relationships with precision, using <span class="text-accent">Dossier</span>!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="text-accent font-bold">Dossier</span> makes it easy to manage your relationships, ensuring that you have the right information at your fingertips.
    </Fragment>
  </Hero>

  <Features
    id="features"
    tagline="Features"
    title="Core Features"
    subtitle=""
    items={[
      {
        title: 'Dossiers',
        description:
          'Record relevant information about the people you know.',
        icon: 'tabler:address-book',
      },
      {
        title: 'Relationships',
        description:
          'Create relationships between different people.',
        icon: 'tabler:hierarchy',
      },
      {
        title: 'Interactions',
        description:
          'Record interactions with individuals, or groups of people.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Notes',
        description:
          'Keep notes about people in their Dossier',
        icon: 'tabler:notes',
      },
      {
        title: 'Organisations',
        description:
          "Create organisations and useful information about them.",
        icon: 'tabler:building',
      },
      {
        title: 'Roles',
        description:
          'Create a role for person at an organisation to record where they have worked and doing what.',
        icon: 'tabler:bulb',
      },
    ]}
  />
</Layout>
